﻿@{
    ViewBag.Title = "Index";
}

<h2>Demo VUE</h2>

<div id="DivTickets">
    <div class="alert alert-info" role="alert" v-if="mensaje!=''">
        {{mensaje}}
    </div>

    <div v-if="edicion==false">
        <button class="btn btn-primary" type="button" v-on:click="LeerTickets">Leer Tickets</button>
        <button class="btn btn-primary" type="button" v-on:click="Nuevo">{{mensaje_nuevo}}</button><br />
    </div>

    <div v-if="edicion==true">
        Asunto: <input type="text" v-model="Dato.Asunto" /><br />
        Descrpcion: <input type="text" v-model="Dato.Descripcion" /><br />
        <button class="btn btn-success" v-on:click="AgregarTickets" type="button">Guardar</button>
        <button class="btn btn-danger" v-on:click="Nuevo" type="button">Cancelar</button>
    </div>
    <div v-else>
        <div v-if="CargandoTabla">
            Cargando ...
        </div>
        <table v-if="Tickets!=null&&CargandoTabla==false" class="table table-bordered">
            <tr>
                <th>*</th>
                <th>ID</th>
                <th>Asunto</th>
                <th>Descrpcion</th>
            </tr>
            <tr v-for="Dato,Index in Tickets" v-bind:id="'tr_'+Dato.Ticket_id">
                <td>
                    <button v-on:click="Editar(Dato.Ticket_id)"> Editar </button>
                    <button v-on:click="Borrar(Index,Dato.Ticket_id)"> Borrar </button>
                </td>
                <td>{{Dato.Ticket_id}}</td>
                <td>{{Dato.Asunto}}</td>
                <td>{{Dato.Descripcion}}</td>
            </tr>
        </table>
        <div v-else>No hay datos</div>
    </div>
</div>


<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/axios.js"></script>


<script>
    var MyVueApp = new Vue({
        el: '#DivTickets',
        data: {
            mensaje: '',
            edicion: false,
            CargandoTabla:false,
            mensaje_nuevo:'Agregar Ticket',
            Tickets: null,
            Dato: {
                Ticket_id: 0,
                Asunto: '',
                Descripcion:''
            }
        },
        mounted() {
            mensaje = "Estamos listos para empezar";
            this.LeerTickets();
        },
        methods: {

            Editar() {
                this.mensaje = "funcion no disponible";
            },

            Nuevo() {
                this.Dato = {
                    Ticket_id: 0,
                    Asunto: '',
                    Descripcion: ''
                };                
                this.edicion = !this.edicion;
                if (this.edicion) {
                    this.mensaje = "Editar";
                } else {
                    this.mensaje = "";
                }
            },
            LeerTickets() {
                this.CargandoTabla = !this.CargandoTabla;
                axios.get("/api/tickets/" ).
                    then(response => {
                        this.Tickets = response.data;
                        this.CargandoTabla = !this.CargandoTabla;
                    }).catch(error => {
                        console.log("### ERROR ::");
                        console.log(error.response)
                    });
            },

            AgregarTickets() {
                axios.post("/api/tickets/", this.Dato ).
                    then(response => {
                        this.Nuevo();
                        if (response.data.Ticket_id > 0)
                            this.Tickets.push(response.data);
                        else
                            this.mensaje = "Error al insertar !!!";
                        //this.edicion = !this.edicion;
                    }).catch(error => {
                        console.log("### ERROR POST::");
                        console.log(error.response)
                    });
            },

            Borrar(Indice,Ticket_id) {
                this.Dato.Ticket_id = Ticket_id;
                axios.delete("/api/tickets/" + Ticket_id ).
                    then(response => {
                        this.Nuevo();
                        if (response.data.Ticket_id > 0)
                            this.Tickets.splice(Indice, 1);
                        else
                            this.mensaje = "Error al eliminar !!!";
                        this.edicion = !this.edicion;
                    }).catch(error => {
                        console.log("### ERROR DELETE::");
                        console.log(error.response)
                    });
            }

        }
    });
</script>