﻿@{
    ViewBag.Title = "Index";
}

<h2>Libro de visitas </h2>

<div id="DivComentario">
    <div class="alert alert-info" role="alert" v-if="mensaje!=''">
        {{mensaje}}
    </div>

    <div v-if="edicion==false">
        <button class="btn btn-primary" type="button" v-on:click="LeerComentario">Leer Comentario</button>
        <button class="btn btn-primary" type="button" v-on:click="Nuevo">{{mensaje_nuevo}}</button><br />
    </div>

    <div v-if="edicion==true">
        Comentario: <input type="text" v-model="Dato.Comentario" /><br />
        Autor: <input type="text" v-model="Dato.Autor" /><br />
        <button class="btn btn-success" v-on:click="AgregarComentario" type="button">Guardar</button>
        <button class="btn btn-danger" v-on:click="Nuevo" type="button">Cancelar</button>
    </div>
    <div v-else>
        <div v-if="CargandoTabla">
            Cargando ...
        </div>
        <table v-if="Comentarios!=null&&CargandoTabla==false" class="table table-bordered">
            <tr>
                <th>*</th>
                <th>ID</th>
                <th>Comentario</th>
                <th>Autor</th>
                <th>Fecha</th>
            </tr>
            <tr v-for="Dato,Index in Comentarios" v-bind:id="'tr_'+Dato.Comentario_id">
                <td>
                    <button v-on:click="Editar(Dato.Comentario_id)"> Editar </button>
                    <button v-on:click="Borrar(Index,Dato.Comentario_id)"> Borrar </button>
                </td>
                <td>{{Dato.Comentario_id}}</td>
                <td>{{Dato.Comentario}}</td>
                <td>{{Dato.Autor}}</td>
                <td>{{Dato.Fecha}}</td>
            </tr>
        </table>
        <div v-else>No hay datos</div>
    </div>
</div>


<script src="Scripts/vue.js"></script>
<script src="Scripts/axios.js"></script>


<script>
    var MyVueApp = new Vue({
        el: '#DivComentario',
        data: {
            mensaje: '',
            edicion: false,
            CargandoTabla:false,
            mensaje_nuevo:'Agregar Comentario',
            Comentarios: null,
            Dato: {
                Comentario_id: 0,
                Comentario: '',
                Autor:''
            }
        },
        mounted() {
            mensaje = "Estamos listos para empezar";
            this.LeerComentario();
        },
        methods: {

            Editar() {
                this.mensaje = "funcion no disponible";
            },

            Nuevo() {
                this.Dato = {
                    Comentario_id: 0,
                    Asunto: '',
                    Descripcion: ''
                };
                this.edicion = !this.edicion;
                if (this.edicion) {
                    this.mensaje = "Editar";
                } else {
                    this.mensaje = "";
                }
            },
            LeerComentario() {
                this.CargandoTabla = !this.CargandoTabla;
                axios.get("api/Comentario/" ).
                    then(response => {
                        console.log(response.data);
                        this.Comentarios = response.data.OData;
                        this.CargandoTabla = !this.CargandoTabla;
                    }).catch(error => {
                        console.log("### ERROR ::");
                        console.log(error.response)
                    });
            },

            AgregarComentario() {
                axios.post("api/Comentario/", this.Dato ).
                    then(response => {
                        this.Nuevo();
                        if (response.data.OData.Comentario_id > 0)
                            this.Comentarios.push(response.data.OData);
                        else
                            this.mensaje = "Error al insertar !!!";
                        //this.edicion = !this.edicion;
                    }).catch(error => {
                        console.log("### ERROR POST::");
                        console.log(error.response)
                    });
            },

            Borrar(Indice, Comentario_id) {
                if (!confirm("Desea eliminar este comentario:" + this.Comentarios[Indice].Comentario))
                    return;

                this.Dato.Comentario_id = Comentario_id;
                axios.delete("api/Comentario/" + Comentario_id ).
                    then(response => {
                        console.log(response.data);
                        if (response.data.Number> 0)
                            this.Comentarios.splice(Indice, 1);
                        else
                            this.mensaje = "Error al eliminar !!!";
                    }).catch(error => {
                        console.log("### ERROR DELETE::");
                        console.log(error.response)
                    });
            }

        }
    });
</script>